tiktoken
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchaudio
torchvision
tqdm
transformers
accelerate
wandb
datasets
zstandard
scikit-learn
sacremoses
tokenizers
tfds-nightly 
tensorflow